<ion-view view-title="Games">
  <ion-content>
  <img src="img/pano.jpg">
    <ion-list class="game-info">

      <div class="item item-divider">Camper Info.</div>
      <ion-item href="#/app/games/roster">What team am I on?</ion-item>
      <ion-item href="#/app/games/fixture">Schedule</ion-item>

      <div class="item item-divider">Rules</div>

      <ion-item href="#/app/games/clean">Clean</ion-item>
			<ion-item href="#/app/games/stans_game">Stan's Game</ion-item>
			<ion-item href="#/app/games/tkw">Team Keeper Wars</ion-item>

  	</ion-list>
  </ion-content>
</ion-view>
