<ion-view view-title="Sessions">
  <ion-content>
  	<ion-list>
			<ion-item href="#/app/sessions/angle_play">Angle play</ion-item>

			<ion-item href="#/app/sessions/breakaways">Breakaways</ion-item>

			<ion-item href="#/app/sessions/cross_man">Cross Management</ion-item>

			<ion-item href="#/app/sessions/deep_ser">Deep Services</ion-item>

			<ion-item href="#/app/sessions/distrib">Distribution</ion-item>

			<ion-item href="#/app/sessions/eval">Eval Night</ion-item>

			<ion-item href="#/app/sessions/ext_dive">Extension Diving</ion-item>

			<ion-item href="#/app/sessions/flank_play">Flank Play</ion-item>

			<ion-item href="#/app/sessions/handling">Handling</ion-item>

			<ion-item href="#/app/sessions/low_dive">Low Diving</ion-item>
			
			<ion-item href="#/app/sessions/passback">Passbacks & Goalkicks</ion-item>
  	</ion-list>
  </ion-content>
</ion-view>
