<ion-view view-title="Staff">
  <ion-content>
    <ion-list>
      <ion-item href="#/app/staff/guide-staff">
        <i class="icon ion-ios-chatboxes"></i> Letter from Boss Man
      </ion-item>
      <div class="item item-divider">Contact lists</div>

      <ion-item href="#/app/staff/staff-list">
        <i class="icon ion-ios-contact"></i> Staff List
      </ion-item>

      <ion-item href="#/app/staff/campers">
        <i class="icon ion-person-stalker"></i> Camper List
      </ion-item>

      <div class="item item-divider">Staff Assistants</div>

      <ion-item href="#/app/staff/sa-travel-groups">
        <i class="icon ion-android-compass"></i> Travel Groups
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
