<ion-view view-title="Guiding Principles" class="background">
  <ion-content>
  <div class="guide">
  <p>Here are a few quick few thoughts from the boss man... Enjoy! </p>
  	<ul class="stan-list">
	  	<li><b>Have a great time while you are here...enjoy the moments...whether those moments are on or off the pitch.</b></li>

			<li><b>The goalkeepers are here to get better.</b>  Full stop.  It is our job to invest in them and help them walk away improved.  They'll tell two friends, and they'll tell two friends and so on and so on....</li>
			
			<li><b>Registration</b> is a time when you, yes you reading this, should be shaking hands, introducing yourself, asking where they are from...setting the tone.  Not behind a table or off in a corner hanging out...there will be plenty of time for that once the parents are gone. <b>Registration, like much of the week, is their time.</b></li>
			
			<li>Please make <b>eye contact</b> with your goalkeepers...connect with them...I have a terrible memory but I remember names and faces of the staff the one year I attended a camp and I still remember how they made me feel.  <b>Please check your ego at all times other than TKW at the end. </b>(example: stop at their table for a few minutes, talk in the hallway for a bit, pull a GK aside on the pitch and show them something, however, do not enter their rooms unless another staff member is with you)</li>
			
			<li>Let's be respectful of all staff and staff assistants that are here as well as hotel staff and PCYS staff...we have a ton to learn from one another and while we all have our roles it is important that we pull from each other.  If you try to D1 someone (GK or staffer or staff assistant) I will show you a D3 GK who can outperform them.  <b>#respect</b></li>
			
			<li>This is a migration week for all of us and for many of the GKs that are here to improve.  Please value the experience...it is a rare week.</li>
			
			<li>From a technical perspective please understand the skill level you are working with.  Some exercises are for the elite GK and some are for the developing GK.</li>
			
			<li>If a GK is to be moved up or down please take a moment with them...we do not need to hand hold but to them it is a demotion and can be devastating.</li>
			
			<li><b>Limit lines, limit lectures, prepare their body and mind for training...</b> I always like to show an exercise/paint a picture at 50% speed and then kick it into play.</li>
			
			<li><b>Please be mindful of the facility...</b>repetitive exercises can be done off the pitch...goals can constantly be moved...your training can constantly be moved...please be mindful of each others gear as well....</li>
			
			<li><b>Be on time....</b>I don't care if you have sunglasses on, coffee in hand, sandals on as long as you are on time and engaged.  I expect the proper attire at the proper times...I expect if a GK gets a knock that sports medicine is made aware...that is their job while here.</li>
			
			<li>It can be logistically difficult to all be on the same page with 300 GKs and 70 staff so please finish on time.  <b>Listen for the whistle.</b></li>
  	</ul>
  	<p>You have learned from many and this is the place to share with many...</p>
  	<h5><b>-Coach Stan Anderson </b></h5>
  </div>
  </ion-content>
</ion-view>
